.. _all the states/modules:

{%- set header = "Complete List of {}".format(project_name) %}
{%- set header_ruler = "=" * header|length %}
{{- header }}
{{ header_ruler }}


.. toctree::
   :maxdepth: 2

   ref/modules/all.rst


.. toctree::
   :maxdepth: 2

   ref/states/all.rst
