{%- set header = "Complete List of {}".format(project_name) %}
{%- set header_ruler = "=" * header|length -%}
.. _all the states/modules:

{{ header }}
{{ header_ruler }}


.. toctree::
   :maxdepth: 2

   ref/modules.rst


.. toctree::
   :maxdepth: 2

   ref/states.rst
