{%- set header = "Complete List of {}".format(project_name) %}
{%- set header_ruler = "=" * header|length -%}
.. _all the states/modules:

{{ header }}
{{ header_ruler }}


{% for loader in loaders %}
.. toctree::
   :maxdepth: 2

   ref/{{ loader.rstrip("s") + ("" if loader in singular_loader_dirs else "s") }}/index

{% endfor %}
