[metadata]
name = {{ package_namespace_pkg }}{{ project_name }}
description = {{ summary }}
long_description = file: README.md
long_description_content_type = text/markdown
author = {{ author }}
author_email = {{ author_email }}
keywords = salt-extension
url = {{ url }}
{%- if source_url or tracker_url or docs_url %}
project_urls =
    {%- if source_url %}
    Source={{ source_url }}
    {%- endif %}
    {%- if tracker_url %}
    Tracker={{ tracker_url }}
    {%- endif %}
    {%- if docs_url %}
    Documentation={{ docs_url }}
    {%- endif %}
{%- endif %}
license = {{ license_name }}
classifiers =
    Programming Language :: Python
    Programming Language :: Cython
    Programming Language :: Python :: 3
    Programming Language :: Python :: 3 :: Only
    Programming Language :: Python :: 3.5
    Programming Language :: Python :: 3.6
    Programming Language :: Python :: 3.7
    Programming Language :: Python :: 3.8
    Programming Language :: Python :: 3.9
    Development Status :: 4 - Beta
    Intended Audience :: Developers
    {{ license_classifier }}
platforms = any

[options]
zip_safe = False
include_package_data = True
package_dir =
    =src
packages = find_namespace:
python_requires = >= 3.5
setup_requires =
  wheel
  setuptools>=50.3.2
  setuptools_scm[toml]>=3.4
  setuptools-declarative-requirements
install_requires =
  salt>={{ salt_version }}
  # Add other module install requirements above this line

[options.packages.find]
where = src
exclude =
    tests

# When targetting Salt < 3003, you can remove the other 'options.entry_points' section and use this one
#[options.entry_points]
#salt.loader=
#{%- for loader_name in loaders %}
#  {{ loader_name }}_dirs = {{ package_namespace_pkg }}{{ package_name }}.loader:get_{{ loader_name }}_dirs
#{%- endfor %}

[options.entry_points]
salt.loader=
  {{ package_namespace_pkg }}{{ project_name }} = {{ package_namespace_pkg }}{{ package_name }}

[requirements-files]
install_requires = requirements/base.txt
tests_require = requirements/tests.txt
extras_require =
  dev = requirements/dev.txt
  tests = requirements/tests.txt
  docs = requirements/docs.txt
  docsauto = requirements/docs-auto.txt
  changelog = requirements/changelog.txt

[bdist_wheel]
# Use this option if your package is pure-python
universal = 1

[build_sphinx]
source_dir = docs
build_dir = build/sphinx

[sdist]
owner = root
group = root
