sphinx
sphinx-material-saltstack
sphinx-prompt
sphinxcontrib-spelling
sphinx-copybutton
furo
{%- if python_requires < (3, 8) %}
furo <= 2023.03.27; python_version < "3.8"
importlib_metadata; python_version < "3.8"
{%- endif %}
